* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6
    ;
}

/*font color for links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*font size for paragraph items  */
p {
    font-size: 16px;
}

/*Classes for everything in the header section.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Defines the format for everything in the header.  Changed the div to section.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*Defines the font, margins, padding, float and font size for everything in a section in the header.*/
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*removes the bullets before each list item*/
.header ul {
    list-style-type: none;
    display: flex;
}

/*sets the list as inline instead of vertical*/
.header ul li {
    display: inline-block;
    margin-left: 25px;
}


/* formating for the top image on the website. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*styling for the contents section class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img{
    width: 25%;
    height: 100%;
}

/*collapsed into a single class for the three services.  moved the old ones to
the bottom in case they are ever needed again. */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*made a .services h2 style  */
.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/*collapsed the image formats into a single .services img class
moved the old ones to the bottom.  */
.services img {
    max-height: 200px;
}

/*collapsed all the benefits styling into a single class since they
are repetetive.  commented out the old ones and moved them to 
the bottom of the file in case there ever became a reason 
to seperate them out again*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.benefit {
    margin-bottom: 32px;
}

/*  collapsed all benefits h3 styling into a single class since 
were repetitive across the different types of benefits.  The
old classes are below for future use if needed.*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Collapsed the benefitstype img into a single class.
moved old ones to the bottom in case there is ever a need
for different styling in that block  */

.benefit img {
    display: block;
    margin: 10px auto;
    width: 60%;
    height: 60%;
}


}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
}

/*styling for footer section.  Made it a display block so that it will fall below the other sections.  */
.footer h2 {

    font-size: 20px;
    display: block;

}


/*as there were repetetive classes, i moved the old ones down here
in case there is a need in the future to break out differenct
classes for each of the services.
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}



.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;

*/
